<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title }} | {{ site.tagline }}</title>
        <meta name="description" content="Home and Mobile Technology Reviews" />

        <!-- Useful for RWD -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="css/normalize.css">
        <!--<script src='javascripts/jquery-gu.js?ver=1.2'></script>-->
    </head>
    <body>
        <header>
            <hgroup>
                <h1><a href="/">{{ site.title }}</a></h1>
                <h2>{{ site.tagline }}</h2>
            </hgroup>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- Loop through categories. Add YAML to process -->
                    <li><a href="about/">About</a></li>
                    <li><a href="affiliate-disclaimer/">Affiliate Disclaimer</a></li>
                </ul>
            </nav>
        </header>
    